{% extends 'flatpages/default.html' %}
{% load my_filters %}
{% load cache %}

{% block title %}
    {{ post.title }} 
{% endblock title %}

{% block content %}
{% cache 100 post_detail post.id %}
<!-- использую фильтр -->
    <h1>{{ post.title|censor }}</h1>
    <p><em>Дата публикации: {{ post.time_create|date:"d.m.Y H:i" }}</em></p>
    <div>
        {{ post.text|censor|linebreaks }}
    </div>
{% endcache %}

{% for category in post.categories.all %}
  {% if user.is_authenticated %}
    <form action="{% url 'subscribe' category.id %}" method="post" style="display:inline;">
      {% csrf_token %}
      <button type="submit">
        {% if user in category.subscribers.all %}
          Вы подписаны на {{ category.name }}
        {% else %}
          Подписаться на {{ category.name }}
        {% endif %}
      </button>
    </form>
  {% endif %}
{% endfor %}


{% endblock content %}

