{% extends 'flatpages/default.html' %}
{% load my_filters %}


{% block title %}
    Все новости
{% endblock title %}

{% block content %}
    <h1>Все новости ({{ posts|length }})</h1>
    <ul>
        {% for post in posts %}
            <li>
                <!-- использую фильтр -->
                {{ post.title|censor }} — 
                {{ post.time_create|date:"d.m.Y" }}<br>
                {{ post.text|truncatewords:20|censor }}
            </li>
        {% empty %}
            <li>Новостей пока нет.</li>
        {% endfor %}
    </ul>
{% endblock content %}

